<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 mt-10">
  <div class="mx-auto max-w-lg">
    <h1
      class="text-center text-2xl font-bold text-sky-500 dark:text-white sm:text-3xl"
    >
      Get started today
    </h1>

    <p class="mx-auto mt-4 max-w-md text-center text-gray-500 dark:text-white">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati sunt
      dolores deleniti inventore quaerat mollitia?
    </p>

    <form
      #form="ngForm"
      (ngSubmit)="signUp(form)"
      autocomplete="off"
      class="mb-0 mt-6 space-y-4 rounded-lg p-4 shadow-md sm:p-6 lg:p-8"
    >
      <p class="text-center text-lg font-medium dark:text-white">
        Sign up to create your account
      </p>

      <div>
        <label for="fullName" class="sr-only">Full Name</label>

        <div class="relative">
          <input
            [(ngModel)]="model.fullName"
            name="fullName"
            type="text"
            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
            placeholder="Enter full name"
            required
          />
        </div>
      </div>

      <div>
        <label for="email" class="sr-only">Email</label>

        <div class="relative">
          <input
            [(ngModel)]="model.email"
            name="email"
            type="email"
            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
            placeholder="Enter email"
            required
          />
        </div>
      </div>

      <div>
        <label for="password" class="sr-only">Password</label>

        <div class="relative">
          <input
            [(ngModel)]="model.password"
            name="password"
            type="password"
            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
            placeholder="Enter password"
            required
          />
        </div>
      </div>

      <button
        type="submit"
        class="block w-full rounded-lg bg-sky-500 dark:text-white px-5 py-3 text-sm font-medium text-white"
      >
        Sign up
      </button>

      <p class="text-center text-sm text-gray-500 dark:text-white">
        Already have an account?
        <span
          routerLink="/signin"
          class="text-black font-bold dark:text-white hover:text-sky-500 dark:hover:text-sky-500 transition duration-300 cursor-pointer"
          >Sign in here!</span
        >
      </p>
    </form>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 1)"></ngx-spinner>
